
.body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
  }

.layout{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}